<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="INSIDER Page Test Reports">

    <listeners>
        <listener class-name="Insider.utilities.ExtentReportsListener"></listener>
    </listeners>
    
    <test  name="Insider Page Tests">

            <packages>
                <package name="Insider.tests">
                </package>
            </packages>

    </test>
</suite>